@media (max-width:991px) {
    .section-padding{
        padding: 60px 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
        bottom: -30px;
    }
    .swiper-button-prev,
    .swiper-button-next{
        bottom: -40px;
    }
}
@media (max-width:767px) {
  .section-padding {
    padding: 40px 0px;
  }
}
@media (max-width:525px) {
  .section-padding {
    padding: 32px 0px;
  }
}