@media (max-width:991px) {
    .section-padding{
        padding: 60px 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
        bottom: -40px;
    }
    .swiper-button-prev,
    .swiper-button-next{
        bottom: -50px;
    }
    .section-padding.course-section,
    .section-padding.instructor-section,
    .section-padding.achievement-section {
      padding-bottom: 120px;
    }
    .counter-card .icon svg{
      width: 32px;
      height: 32px;
    }
}
@media (max-width:767px) {
  .section-padding {
    padding: 40px 0px;
  }
  .section-padding.course-section,
  .section-padding.instructor-section,
  .section-padding.achievement-section {
    padding-bottom: 90px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 0px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    bottom: -65px;
  }
  .swiper-button-prev{
    right: calc( 50% + 50px);
  }
  .swiper-button-next{
    right: 30%;
    transform: translateX(-50%);
  }
}
@media (max-width:525px) {
  .section-padding {
    padding: 32px 0px;
  }
  .counter-card .icon svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width:480px) {  
    .section-padding {
        padding: 0 0 90px 0px;
    }
}
