@media (max-width:991px) {
    .section-padding{
        padding: 60px 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
        bottom: -40px;
    }
    .swiper-button-prev,
    .swiper-button-next{
        bottom: -50px;
    }
    .section-padding.instructor-section {
      padding-bottom: 120px;
    }
}
@media (max-width:767px) {
  .section-padding {
    padding: 40px 0px;
  }
  .section-padding.instructor-section {
    padding-bottom: 90px;
  }

  .md\:px-\[100px\] {
    /* padding-left: 100px; */
    padding-right: 100px;
}

}
@media (max-width:525px) {
  .section-padding {
    padding: 32px 0px;
  }
}

@media (max-width:480px) {
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -2px;
    }

    .swiper-button-prev, .swiper-button-next {
        bottom: -64px;
    }
    
    
    .swiper-button-prev {
        right: 175px;
        left: auto;
    }
    
    .swiper-button-next {
        right: 120px;
        left: auto;
    }

    .section-padding {
        padding: 0 0 90px 0px;
    }
}
