:root{
    --primary-500: #20B486;
    --primary-900: #06241B;
    --secondary-500: #FFC27A;
    --gray-100: #CFD3D6;
}
.section-padding{
    padding: 100px 0px;
}
.section-padding.instructor-section{
    padding-bottom: 170px;
}
body{
    position: relative;
}
footer{
    padding: 100px 0px 50px;
}
.btn-primary{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    padding: 12px 24px;
    border: 1px solid transparent;
    background: var(--primary-500);
    border-radius: 8px;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    border: 1px solid var(--primary-500);
    background: transparent;
    transition: all 0.5s ease;
    color: var(--primary-900);
}

.course-item:hover link{
    color: red;
        }

.course-item:hover.link svg{
    background: #000;
}


.after-svg{
    position: relative;
}
.after-svg:after{
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    overflow: hidden;
}
.after-svg.instructor:after{
    content: url(./images/svg/instructor-svg.svg);
}
.after-svg.popular:after{
    content: url('./images/svg/popular-svg.svg');
}
.after-svg.banner_5000:after{
    content: url('./images/svg/banner_5000.svg');
}
.after-svg.banner_300:after{
    content: url('./images/svg/banner_300.svg');
}
.after-svg.achievement:after{
    content: url('./images/svg/achievement-svg.svg');
}
.after-svg.feedback:after {
  content: url('./images/svg/feedback-svg.svg');
}

.header-sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
  z-index: 99;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0px 4px 10px rgb(3 4 28 / 10%);
  box-shadow: 0px 4px 10px rgb(3 4 28 / 10%);
  background: white;
}


/* mobile menu css */
.hamburger-btn {
  width: 34px;
  height: 22px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;
  overflow: hidden;
}

.hamburger-btn span {
  display: inline-block;
  position: absolute;
  background: var(--primary-900);
  height: 2px;
  width: 25px;
  opacity: 1;
  z-index: 1;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hamburger-btn:hover span {
  background: var(--primary-500);
}

.hamburger-btn span:nth-child(1) {
  left: 0px;
  top: 0px;
}

.hamburger-btn:hover span:nth-child(1) {
  left: 12px;
}

.hamburger-btn span:nth-child(2) {
  width: 14px;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
}

.hamburger-btn span:nth-child(3) {
  top: 14px;
  right: 0px;
}

.hamburger-btn:hover span:nth-child(3) {
  right: 3px;
}
.nav-menu{
      position: fixed;
      right: 0;
      top: 0;
      width: 80%;
      height: 100%;
      -webkit-transform: translateX(calc(100% + 80px));
      -moz-transform: translateX(calc(100% + 80px));
      -ms-transform: translateX(calc(100% + 80px));
      -o-transform: translateX(calc(100% + 80px));
      transform: translateX(calc(100% + 80px));
      background: white none repeat scroll 0 0;
      -webkit-transition: transform 0.45s ease-in-out,
      opacity 0.45s ease-in-out;
      -moz-transition: transform 0.45s ease-in-out,
      opacity 0.45s ease-in-out;
      transition: transform 0.45s ease-in-out,
      opacity 0.45s ease-in-out;
      z-index: 999;
      overflow-y: scroll;
      overscroll-behavior-y: contain;
      scrollbar-width: none;
      z-index: 9999999;
      background-color: white;
}
.nav-menu.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  
}
.overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.overlay.open {
  opacity: 0.7;
  visibility: visible;
}


/* swipper slider css */
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: -60px;
    z-index: 9;
}
.swiper-pagination-bullet{
    background: var(--gray-100);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--primary-500);
}
.swiper-button-prev,
.swiper-button-next{
    bottom: -70px;
    top: auto;
    background: #20B486;
    box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 24px;
    color: white;
}
.swiper-button-disabled{
    background: #FFFFFF;
    box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
    border-radius: 8px;
    color: var(--primary-900);
}
.swiper-button-next{
    right: 0px;
    left: auto;
}

.swiper-button-prev{
    right: 50px;
    left: auto;
}

